<h1><%= @issue.name %></h1>
<ul>


<p><%= randomize_quote(params[:id]) %></p>

 
</ul>



<%= link_to "Play Again", url_for(params) %> |

<%= link_to("All Issues", root_path) %> |

<%= link_to "All Quotes for this issue", issue_quotes_path(@quote) %>

