<h1><%= @issue.name %></h1>
<ul>


<p><%= randomize_quote(params[:id]) %></p>

 
</ul>



<%= link_to "Play Again", url_for(params), :class=>"myButton" %> |

<%= link_to "All Issues", root_path, :class=>"myButton" %> |

<%= link_to "All Quotes for this issue", issue_quotes_path(@quote), :class=>"myButton" %>

<%= render 'footer' %>